broker:
  id: {{ broker_id }}
  host: {{ broker_host }}
  port: 9092
  replicationFactor: {{ replication_factor }}
  minISR: {{ min_isr }}
  retentionMs: 604800000
  segmentBytes: 1073741824
  maxPartitions: 1000

coordinator:
  enabled: true
  url: {{ etcd_servers }}

storage:
  enabled: true
  mountPath: {{ messagebroker_data_dir }}

logging:
  level: INFO
  format: json
  output: {{ messagebroker_log_dir }}/broker.log
