[Unit]
Description=MessageBroker - Kafka-like Message Queue
Documentation=https://github.com/dhruvit2/messagebroker
After=network.target etcd.service
Requires=docker.service

[Service]
Type=simple
User={{ messagebroker_user }}
Group={{ messagebroker_group }}
WorkingDirectory={{ messagebroker_home }}
ExecStart={{ messagebroker_home }}/start-broker.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
